@import '../../styles/variables';

.container {
  height: auto;
  margin-bottom: 60px;
}

.needRegistrationMessage {
  font-size: 23px;
  text-align: center;
  font-weight:800;
  color: $main-color-hover;
}

.needRegistrationMessage a {
  color: $main-color;
  text-decoration: underline;
}

.needRegistrationMessage a:hover {
  color: $main-color-hover;
}