@import '../../../styles/variables';

.containerModal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.contentModal {
  padding: 25px;
  background: white;
  min-width: 250px;
  border-radius: 10px ;
  position: relative;
  border: 2px solid $main-color;
}

.containerModal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeButton {
  color: $main-color;
  cursor: pointer;
  font-size: 26px;
  position: absolute; 
  top: 10px;
  right: 10px;
}
