@import '../../styles/variables';
.formContainer {
  padding: 0 $container-padding;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.formContainer h1 {
  text-align: center;
  margin-bottom: 30px;
  color: $main-color;
}

.registrationForm {
  margin: 0 auto;
}

.buttonStyleCorrection {
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}