@import '../../styles/variables';

.cardContainer {
  padding: 30px $container-padding 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  
}

.titleContainer {
  color: $main-color;
  font-family: $font-title;
  font-size: 15px;
  padding: 35px $container-padding 0;
  text-align: left; 
  position: relative;
}

.boldLine {
  border-bottom: 4px solid $main-color;
  padding: 4px 0;
  width: 100%;
}

.boldLine::after {
  content: '';
  display: block;
  height: 0.5px;
  width: 100%;
  background-color: $basic-gray-border;
}

.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
