@import '../../../styles/variables';
.uiButton {
  background-color: $main-color;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.uiButton:hover {
  background-color: #a82200;
}