@import '../../../styles/variables';

.socialIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  
.socialIcon {
  color: #fff;
  font-size: 24px;
  transition: color 0.3s ease;

  &:hover {
    color: $basic-gray-border; 
  }
}

.correction {
  margin-top: 5px;
}
  