@import '../../styles/variables';
.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 60px $container-padding 80px;
  font-size: 18px;
  gap: 30px;
}

h1 {
  margin: 50px 0 0;
}

.container h3 {
  margin: 0;
  font-size: 20px;

}

.container p, ul, ol {
  margin: 10px 0 25px;
  font-size: 18px;
}

.container ul {
  list-style-type: disc;
  margin-left: 40px;
}

.container li {
  margin: 10px 0 10px;
  font-size: 18px;
}

.imgContainer {
  padding-top:0;
}
