@import '../../styles/variables';
.container {
  padding: 0 $container-padding;
  margin: 60px 0;
}

.catalogTitle {
  font-size: 45px;
}

.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
